<h3>
    Welcome to {{companyName}}! <br>
</h3>
<p>
    Dear {{fullName}}, <br><br>
    An account has been created for you.<br>
    You can access your account via this <a href="{{registrationLink}}">link</a> (expires in {{expirationPeriod}})<br>
</p>