Dear {{fullName}}, <br><br>
<p>
    You requested to restore your {{companyName}} account.<br>
    You can access your account and reset your password via this <a href="{{resetPasswordLink}}">link</a> (expires in
    {{expirationPeriod}})<br>
    <b>
        If this wasn't you, you can safely ignore this email.
    </b>
</p>